<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="recruitment.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <!-- Giới hạn kích thước upload khoảng 50MB (tính bằng bytes) -->
                <requestLimits maxAllowedContentLength="52428800" />
                <!-- Chặn truy cập trực tiếp vào các file/thư mục nhạy cảm (Thay thế cho <Files "db.php"> Deny from all) -->
                <hiddenSegments>
                    <add segment="db.php" />
                    <add segment="includes" />
                    <add segment="vendor" />
                    <add segment=".git" />
                    <add segment=".htaccess" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Blog List" stopProcessing="true">
                    <match url="^blog/?$" ignoreCase="true" />
                    <action type="Rewrite" url="blog.php" />
                </rule>
                <rule name="Blog Single" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-]+)/?$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="^/FUTA_PHP/tuyen-dung/" negate="true" />
                        <add input="{URL}" pattern="^/(FUTA_PHP/)?(index|about|contact|project|projects|recruitment|blog|api|map|xe-tuyen|xe-buyt|xe-trung-chuyen|QC-ky-thuat-so|QC-tram-dung|animation|buyt-noi-o)(\.php)?/?$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="blog_single.php?slug={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>